.custom-select {
    background-color: dodgerblue ;
    width: 200px;
    height: 50px;
    font-size: 30px;
    border: 3px solid rgb(36, 110, 194);
    border-radius: 15px;
    margin-bottom: 100px
}