.add-item button {
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}

.add-item input {
    margin: 0.5em 2em;
    outline: none;
    border: none;
    padding: 0.7em; 
}
